{{ race }} | {{ checkpoint }} | Results:
<br/>
<form method="POST">
    <label for="runnerid">Bib Number </label>
    <input name="runnerid"><br/>
    <input type="submit">
</form>
<br/>
<br/>
<table>
    <tr>
        <th>Bib Number</th>
        <th>Timestamp</th>
    </tr>
    {% for item in data %}
    <tr>
        <td>{{item.bib}}</td>
        <td>{{item.ts}}</td>
    </tr>
    {% endfor %}
</table>