<form method="POST">
    <label for="race">Race Name </label>
    <input name="race">
    <br/>
    <label for="checkpoint">Checkpoint Name </label>
    <input name="checkpoint">
    <br/><br/>
    <input type="submit">
</form>